{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% if app.user %}
        <div class="mb-3">
            {{ 'You are logged in as' |trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'Logout' |trans }}</a>
        </div>
    {% else %}
        <div class="mb-3">
            {{ 'You are not logged in, log in or create an account' |trans}}, <a href="{{ path('app_login') }}">{{ 'Login'|trans }}</a> <a href="{{ path('app_register') }}">{{'Create an account' |trans}}</a>
        </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            <ul>
                <li><a href="{{ path('app_genre_index') }}">Genre</a></li>
                <li><a href="{{ path('app_categoriecsa_index') }}">Categorie CSA</a></li>
                <li><a href="{{ path('app_diffusion_index') }}">Diffusion</a></li>
                <li><a href="{{ path('app_emission_index') }}">Emission</a></li>
                <li><a href="{{ path('app_programme_index') }}">Programme</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_user_index') }}">User</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <!--<ul>
        <li>Your controller at <code><a href="{#{ 'C:/BLANCHARD/cuisinermoi/src/Controller/HomeController.php'|file_link(0) }#}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{#{ 'C:/BLANCHARD/cuisinermoi/templates/home/index.html.twig'|file_link(0) }#}">templates/home/index.html.twig</a></code></li>
    </ul>-->
</div>
{% endblock %}
