{% extends 'base.html.twig' %}

{% block title %}Categoriecsa index{% endblock %}

{% block body %}

    <h1>Categoriecsa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoriecsa in categoriecsas %}
            <tr>
                <td>{{ categoriecsa.id }}</td>
                <td>{{ categoriecsa.libelle }}</td>
                <td>
                    <a href="{{ path('app_categoriecsa_show', {'id': categoriecsa.id}) }}">show</a>
                    {% if is_granted('ROLE_EDITOR') %}
                    <a href="{{ path('app_categoriecsa_edit', {'id': categoriecsa.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_EDITOR') %}
    <a href="{{ path('app_categoriecsa_new') }}">Create new</a>
    {% endif %}
{% endblock %}
